{% extends 'base.html.twig' %}

{% block title %}
    Personnage
{% endblock %}

{% block monTitre %}
    Animal 
{% endblock %}


{% block body %}


<div class="row">
    <div class="col-2">
        <img src="{{ asset('images/' ~ animal.nom ~ '.png')}}">
    </div>
    <div class="col">
        <h2> {{ animal.nom }}</h2>
        <h6> {{ animal.description }}</h6>
        <h6> {{ animal.poids }}</h6>
        <td>{{animal.famille.libelle}} </td>
        <td>
             {% if animal.dangereux %}
             <span class="btn btn-danger ">Oui</span>
             {% else %}
             <span class="btn btn-success ">Non</span>
             {% endif %}
            </td>
        <div>
        </div>
    </div>
</div>

 
{% endblock %}